<section id="hero">
    <h2>Welcome to CSE Motors!</h2>
    <div>
        <img src="/images/vehicles/delorean.jpg">
        <div id="overlay">
            <h3>DMC Delorean</h3>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <span>Own Today</span>
        </div>
    </div>
</section>
<section id="reviews-section">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>
<section id="upgrades-section">
    <h2>Delorean Upgrades</h2>
    <div id="cards">
        <div class="upgrade-card">
            <figure><img src="/images/upgrades/flux-cap.png"></figure>
            <a href="">Flux Capacitor</a>
        </div>
        <div class="upgrade-card">
            <figure><img src="/images/upgrades/flame.jpg"></figure>
            <a href="">Flame Decals</a>
        </div>
        <div class="upgrade-card">
            <figure><img src="/images/upgrades/bumper_sticker.jpg"></figure>
            <a href="">Bumper Stickers</a>
        </div>
        <div class="upgrade-card">
            <figure><img src="/images/upgrades/hub-cap.jpg"></figure>
            <a href="">Hub Caps</a>
        </div>
    </div>
</section>
<h1>Kim Watson</h1>